
<html>
    <head>
        <title>Blog Ivet!</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Blog Ivet!</a></h1>
        </header>

        <article>
            <time>published: 30.9.2023, 12:44</time>
            <h2><a href="">Moje prvé ukážky z blogu</a></h2>
            <p>Vítam Vás všetkých! Príbehy žltého domčeka su práve aktuálne.</p>
        </article>

        <article>
            
            <h2><a href="">1.prvý príbeh - U zubára</a></h2>
            <p>Prvá návšteva myšky u zubára. Auuuu to muselo, ale bolieť.</p>
        </article>
        <h2><a href="">2.prvý príbeh - Cesta autom do Prahy!</a></h2>
        <p>Zábavná cesta do Prahy spolu so zvieratkami.</p>
        </article>
        <h2><a href="">3.prvý príbeh - Školá volá a začína!</a></h2>
        <p>Máme doma prváčika, prvý den v škole, prvé obavy a zabava na školskom dvore.</p>
        </article>
            
